body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
  font-size: 180%;
  font-weight: bolder;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background-image: url(../images/Awesome.jpg);
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

#Q1{
  color: red;
}

#Q2{
  color: green;
}

#A1{
  color: yellow;
}

#A2{
  color: blue;
}
footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}